
.box{
    max-width: 100%;
    height: 600px;
    width: 700px;
    background: rgba(20, 19, 22, .5);
    border: 2px solid var(--border-color);
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(56, 0, 0, 0.291);

}

.startBox{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

.name_box{
    display:flex;
    align-items: center;
}

.name_input{
    border: 0.2em solid #000000;
    border-radius: 0.7em;
    box-shadow: 0.5px 1px black;
    margin-left: 5px;
    height: 27px;
    width: 150px;
}

.btn_bottom{
    margin-top: 10px;
    
    
    border-radius: 0.4em;
    background: #000000;
}

.startBtn{
    display: block;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 0.75em;
    padding: 0.75em 1.5em;
    
    background: #e8e8e8;
    color: #000000;
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
}

.startBtn:hover{
    transform: translateY(-0.33em);
}

.startBtn:active{
    transform: translateY(0);
}

.message{
    width: 70%;
    overflow-y: scroll;
    margin: 10px;
    transition: all 0.5s ease;
}

.yellow{
    color:yellow;
}

.line{
    width: 100%;
    height: 0px;
    border-bottom: 2px solid black;
    margin-bottom: 5px;
}

.win{
    color:green;
}

.defeat{
    color: red;
}

.buttonsContainer{
    width: 80%;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-top: 15px;
    border-top: 2px solid rgb(0, 0, 0);

    display: flex;
    justify-content: space-evenly;
}

.images{
    height: 100px;
    width: auto;
}

.images:hover{
    cursor: pointer;
    border-radius: 10%;
    background-color: rgb(14, 13, 16);
}

.images:active{
    transform: scale(0.8);
    transition: all .1s ease-in;
}

.message::-webkit-scrollbar {
  width: 10px;
}
  
/* Track */
.message::-webkit-scrollbar-track {
    background:rgba(20, 19, 22, 0.274); 
}
   
/* Handle */
.message::-webkit-scrollbar-thumb {
  background: rgb(20, 19, 22); 
}
  
/* Handle on hover */
.message::-webkit-scrollbar-thumb:hover {
  background: rgb(20, 19, 22); 
}